In [1]:
for letter in ["h","e","l","l","o"]:
    print(letter)

h
e
l
l
o

In [2]:
#python understand your sentence as a list array
for letter in "HELLO":
    print(letter)

H
E
L
L
O

In [3]:
my_str="hello world!"
for char in my_str:
    print(char)

h
e
l
l
o

w
o
r
l
d
!

In [4]:
for country in "ger","tr","nl":
    print(country)

ger
tr
nl

In [6]:
dogs=("pug","doberman","ret")
for dog in dogs:
    print("its a ", dog)

its a  pug
its a  doberman
its a  ret

In [8]:
dog_w=(("pug",20),
      ("doberman",35),
      ("ret",50))
for i,(dog,w) in enumerate(dog_w):
    print("the dog at index %d is a %s and it is %s" %(i, dog, w))

the dog at index 0 is a pug and it is 20
the dog at index 1 is a doberman and it is 35
the dog at index 2 is a ret and it is 50

In [11]:
std_w={"pug":20,
      "doberman":35,
      "ret":50}
for std in std_w:
    print(std)

pug
doberman
ret

In [12]:
for score in std_w.values():
    print(score)

20
35
50

In [14]:
for key in std_w:
    print("key ",key,":",std_w[key])

key  pug : 20
key  doberman : 35
key  ret : 50

In [15]:
for student,score in std_w.items():
    print("student: ",student,": \t score: ",score)

student:  pug : 	 score:  20
student:  doberman : 	 score:  35
student:  ret : 	 score:  50

In [1]:
num= [2,4,6,8,0]
sq=0
for val in num:
    sq=val**2
    print("square of",val,"is",sq)

square of 2 is 4
square of 4 is 16
square of 6 is 36
square of 8 is 64
square of 0 is 0

In [2]:
string=input("enter")
cnt=0
for i in string:
    cnt = cnt+1
print(cnt)

enteregehansayan
11

In [3]:
num= [2,4,6,8,0]
for nm in num:
    if nm%3==0:
        print("nuber dividable to 3", num)

nuber dividable to 3 [2, 4, 6, 8, 0]
nuber dividable to 3 [2, 4, 6, 8, 0]

In [5]:
num= [2000,1994,1996,1998,1990]
for year in num:
    if year % 4 ==0:
        print(year, " leap year")
    else:
        print(year, " not leap year")

2000  leap year
1994  not leap year
1996  leap year
1998  not leap year
1990  not leap year

In [6]:
colors=["red","orange","blue"]
objects=["pen","marker","pc"]
for color in colors:
    for obj in objects:
        print(color, obj)

red pen
red marker
red pc
orange pen
orange marker
orange pc
blue pen
blue marker
blue pc