In [1]:
my_range = range(5)
my_range
#will not work with string or etc.

range(0, 5)

In [2]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [3]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [4]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [5]:
for i in range(2):
    print("Hello World!")

Hello World!
Hello World!

In [6]:
for _ in range(2):
    print("Hello World!")
# you can use _ underscore as var

Hello World!
Hello World!

In [7]:
for _ in range(2**2):
    print("Piton")

Piton
Piton
Piton
Piton

In [8]:
for num in range(5,10):
    print("number: ",num)

number:  5
number:  6
number:  7
number:  8
number:  9

In [10]:
# reverse de tcontent 
x=range(3)
for i in reversed(x):
    print(i)

2
1
0

In [11]:
for i in reversed("welcome"):
    print(i)

e
m
o
c
l
e
w

In [12]:
x= list(range(0,10,2))
for i in reversed(x):
    print(i)

8
6
4
2
0

In [14]:
num_list=[]
for i in range(1,21):
    if(i%3==0 or i%5==0):
        num_list.append(i)
print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

In [ ]:
#check last example for multip≈üication table