In [4]:
def subtract(num1,num2):
    res=num2-num1
r= subtract(10,7.7) 
print(r) #there is no value because its return

None

In [5]:
type(r)

NoneType

In [6]:
def subtrc_returns(num1,num2):
    result=num1-num2
    return result
subtrc_returns(91,32)

59

In [7]:
def length(some_list):
    count=0
    for element in some_list:
        count+=1
    print("The length of the list", count)
    return count
l=length([100,200,300])

The length of the list 3

In [8]:
l

3

In [9]:
def add_sub(x,y):
    add=x+y;sub=x-y
    return add,sub
add_sub(100,99)

(199, 1)

In [10]:
result = add_sub(4,5)
result

(9, -1)

In [13]:
# Seperate return function
add_result, sub_result=add_sub(10,20)
print("Add Result=",add_result)
print("Sub Result=",sub_result)

Add Result= 30
Sub Result= -10

In [14]:
result3, _ = add_sub(1,5)
result3
#underscore(_) ignore value

6

In [18]:
def find_first_capital(some_string):
    capital=None
    for ch in some_string:
        if ch.upper()==ch and ch!=" ":
            capital=ch
            break
    if capital is None:
            return "No capital"
    else:
            return "First Capital= "+capital
find_first_capital("egehan Sayan")

'First Capital= S'

In [19]:
# Usage of Dictionary
def create_dict(name, age, occupation):
    dictionary={"name":name, "age":age, "occupation":occupation}
    return dictionary
info_dict = create_dict("Egehan",27,"Engineer")
info_dict

{'name': 'Egehan', 'age': 27, 'occupation': 'Engineer'}

In [20]:
# Create of List
def generate_list(name, num):
    print("Generate list")
    return_list=[name for i in range(num)]
    return return_list

In [21]:
some_list=generate_list("Seher", 3)
some_list

Generate list

['Seher', 'Seher', 'Seher']

In [22]:
# CALCULATOR
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b

def calculator(a,b,op):
    if op=="add":
        return add(a,b)
    if op=="sub":
        return sub(a,b)
    if op=="div":
        return div(a,b)
    if op=="mul":
        return mul(a,b)

In [24]:
calculator(5,8,"mul")

40