In [1]:
set_1={"c++","php","python"}
set_2=set_1         #refer same memory
set_2.add("sql")
print("original", set_1)
print("modified", set_2)

original {'sql', 'c++', 'php', 'python'}
modified {'sql', 'c++', 'php', 'python'}

In [2]:
set_2.pop()

'sql'

In [ ]:
set_2[2]    # will not shown, SETs is not indexed

In [3]:
#SETs can not contain nested lists

In [4]:
import copy