In [ ]:
#for calculating values, always convert to int or float
#and use same type for all values

In [1]:
value_str="python world"
value_list=list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [2]:
value_tuple = tuple(value_str)
type(value_tuple)

tuple

In [3]:
my_list=["apple","orange","cherry"]
print(my_list)

['apple', 'orange', 'cherry']

In [4]:
my_tuple=tuple(my_list)
print(my_tuple)

('apple', 'orange', 'cherry')

In [5]:
#if convert nested lists tuple, you must index for inner list
ages=[["egehan",50],["ibo",25]]
age_tuple=tuple(ages)
print(age_tuple)
age_tuple=tuple(ages[0])
age_tuple

(['egehan', 50], ['ibo', 25])

('egehan', 50)

In [6]:
#converting from tuple to dict, 
#you must use "()" for each element
age_tup=(("egehan",50),("nesat",30))
dict(age_tup)

{'egehan': 50, 'nesat': 30}

In [7]:
age_dict=dict(ages)
age_dict

{'egehan': 50, 'ibo': 25}