In [1]:
type(66)

int

In [3]:
a=66
flo = float(a)
flo

66.0

In [4]:
int(390.8)

390

In [5]:
#add operation between int and float shows float result 
a= 70.2+7
print("data type of a= ", type(a))

data type of a=  <class 'float'>

In [7]:
#you can convert string to int
int("12")

12

In [8]:
my_str = str(12)
type(my_str)

str

In [11]:
#you can write values with str's like this
my_float=5345.123
print("egehan has " + str(my_float) + "points")

egehan has 5345.123points

In [12]:
#Using values with Str  ***
user="Egehan"; lines=50
print("Congrats"+user+"! You just wrote "+str(lines)+" lines of code.")

CongratsEgehan! You just wrote 50 lines of code.

In [13]:
number= int(input())     
#must convert to int, input always str
plus_ten=number +10
print(plus_ten)

9
19

In [14]:
print("Total value of adding ten = "+str(plus_ten))

Total value of adding ten = 19

In [15]:
#add values to print 
plus_tw= number+20
print("+10 and +20 of number= %s and %s" %(plus_ten,plus_tw))

+10 and +20 of number= 19 and 29